@import "./variables.scss";

*{
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
  color: $dark;

  font-family: $Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
